#me{
    width: 1500px;
    height: 900px;
    position: relative;
    margin: 0 auto;
    /* border: solid 1px white; */
}
#me #bottom_box{
    width: 500px;
    height: 600px;
    background-color: rgb(96, 40, 228);
    position: absolute;
    margin-top: 150px;
    margin-left: 515px;
}
#me #box{
    width: 500px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 130px;
    margin-left: 500px;
}
#me #inner_box{
    width: 450px;
    height: 500px;
    border: solid 3px black;
    margin-top: 25px;
    margin-left: 20px;
    background-color: rgb(255, 213, 0);
}
#me #right_white{
    width: 300px;
    height: 300px;
    background-color: rgb(86, 232, 149);
    position: absolute;
    margin-left: 1100px;
    margin-top: 20px;
}
#me #right_box{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-left: -10px;
    margin-top: 10px;
    border: solid 2px black;
}
#me #right_box h1{
    margin-top: 8px;
    margin-left: 8px;
}
#me #right_box p{
    color: rgb(0, 0, 0);
    width: 280px;
    height: 200px;
    /* border: solid 1px red; */
    margin-top: 10px;
    margin-left: 8px;
    line-height: 155%;
    font-size: 17px;
}
#me #left_box{
    width: 300px;
    height: 200px;
    background-color: rgb(96, 40, 228);
    margin-left: 120px;
    margin-top: 500px;
    position: absolute;
}
#me #left_box #inner_box{
    width: 300px;
    height: 200px;
    background-color: white;
    margin-top: -20px;
    margin-left: 10px;
}
#me #left_box #inner_box h1{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
#me #bottom2_box{
    width: 220px;
    height: 80px;
    background-color: white;
    position: absolute;
    margin-top: 700px;
    margin-left: 1100px;
}
#me #bottom_inner{
    width: 220px;
    height: 80px;
    background-color: rgb(86, 232, 149);
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    border: solid 2px black;
}
#me #bottom_inner h1{
    margin-top: 10px;
    margin-left: 3px;
    text-align: center;
}
#me #top_box{
    width: 200px;
    height: 195px;
    position: absolute;
    background-color:  rgb(86,232,149);
    margin-left: 240px;
    margin-top: 100px;
}
#me #top_inner{
    width: 200px;
    height: 195px;
    position: absolute;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 2px black;
}
#me #top_inner img{
    width: 200px;
    
}